h1 {
  color: inherit;
}

.symbol-pool {
  display: none;
}

.vditor-reset, .dark .vditor-reset {
  color: inherit;
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    position: relative;
  }
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.75em;
  }
  p {
    line-height: 1.8;
    margin-bottom: 1em;
    word-break: break-all;
  }
  code:not(.hljs):not(.highlight-chroma) {
    padding: 1px 5px;
    border-radius: 5px;
  }
  blockquote {
    padding-left: 5px;
  }
  .highlight-line {
    padding-left: 20px;
  }

  .vditor-copy + code:not(.hljs):not(.highlight-chroma) {
    padding: 10px;
    padding-left: 20px;
    background-color: var(--color-neutral);
    &::before {
      margin-left: -20px;
    }
  }
  
  .language-math,
  .language-echarts,
  .language-mindmap,
  .language-plantuml,
  .language-mermaid,
  .language-markmap,
  .language-abc,
  .language-flowchart,
  .language-graphviz {
    margin-bottom: 16px;
  }
  .language-math mjx-container:focus {
    outline: none;
    cursor: context-menu;
  }
  .language-echarts,
  .language-mindmap {
    overflow: hidden;
    height: 420px;
  }
  .language-mermaid,
  .language-markmap,
  .language-flowchart,
  .language-graphviz {
    text-align: center;
  }
  .language-graphviz parsererror {
    overflow: auto;
  }

  svg {
    display: inline-block
  }

  &.vditor-reset--anchor {
    padding: 0;
  }
}

.dark .vditor-reset svg{
  polygon {
    fill: transparent;
  }
  [stroke="#000000"], [stroke="#000"], [stroke="black"] {
    stroke: var(--color-base-content);
  }
  [fill="#000000"], [fill="#000"], [fill="black"] {
    fill: var(--color-base-content);
  }
  [fill="#ffffff"], [fill="#fff"], [fill="white"] {
    fill: var(--color-base-200);
  }
}

.vditor-copy {
  position: relative;
  z-index: 1;
  textarea {
    position: absolute;
    left: -100000px;
    height: 10px;
  }
  span {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0.5em;
    svg {
      color: #586069;
      height: 14px;
      width: 14px !important;
      display: block;
      fill: currentColor;
    }
  }
}
.vditor-linenumber {
  &.hljs, &.highlight-chroma {
    padding-left: 3em;
    &::before {
      margin-left: -3em;
    }
  }
  .vditor-linenumber__rows {
    position: absolute;
    pointer-events: none;
    top: 3em;
    left: 0;
    width: 3em;
    user-select: none;
    counter-reset: linenumber;
  }
  .vditor-linenumber__rows > span {
    pointer-events: none;
    display: block;
  }
  .vditor-linenumber__rows > span::before {
    counter-increment: linenumber;
    content: counter(linenumber);
    color: rgba(158, 150, 150, 0.38);
    display: block;
    padding-right: 1em;
    text-align: right;
  }
}
.vditor-anchor--left {
  left: -25px;
}
.vditor-anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-flex;
  align-items: center;
  svg {
    visibility: hidden;
    color: var(--color-primary);
    fill: currentColor;
    vertical-align: middle;
  }
  &:hover {
    svg {
      visibility: visible;
    }
  }
}
.vditor-speech {
  position: absolute;
  display: none;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  color: #586069;
  &:hover,
  &--current {
    color: #4285f4;
  }
  svg {
    height: 14px;
    width: 14px;
    fill: currentColor;
    display: block;
    stroke-width: 0;
    stroke: currentColor;
  }
}

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.btn-text {
  padding: 0;
  border: 0;
  --btn-shadow: "";
  --btn-bg: #0000;
  --btn-border: #0000;
  --btn-noise: none;
}